body{
    height: 98vh;
    background-image: url("https://vignette.wikia.nocookie.net/southpark/images/c/ca/Bus-stop.jpg/revision/latest?cb=20141214163925");
    background-attachment: local;
    background-size: cover;
    display: grid;
}
.cristal{
    /* From https://css.glass */
    background: rgba(0, 255, 57, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(0, 255, 57, 0.37);
}
.verticalcontainer{
    height: 90%;
    aspect-ratio: 3/4;
    align-self: center;
    justify-self: center;
    
}
