@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}
.Todo{
    color: aliceblue;
    margin: auto;
    width: fit-content;
    padding: 1em;
}
.Fondo{
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#793cff 2px, transparent 2px), radial-gradient(#793cff 2px, #000000 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}
.Cristal{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}